

.main {
    width: 100%;

    background-image: url('./Assets/background2.jpg');
    background-position-y: -250px;
 
    background-size: cover;
    background-repeat: no-repeat;
   
}
.main .content{
    position: relative;
    top:220px;
    left: 100px;
    background-color:rgba(250, 235, 215, 0.39);
    width: 550px;
    padding: 50px;
    color: rgb(255, 255, 255);
    border-radius: 20px  0 20px 0;
    -webkit-border-radius: 20px  0 20px 0;
    -moz-border-radius: 20px  0 20px 0;
    -ms-border-radius: 20px  0 20px 0;
    -o-border-radius: 20px  0 20px 0;
}
.main h2{
    color: rgb(109, 100, 100);
    text-align: center;
}
.main button{
     background-color: rgba(214, 78, 78, 0.432);
     padding: 10px 20px;
     color: rgba(255, 255, 255, 0.603);
     border-radius: 10px;
     -webkit-border-radius: 10px;
     -moz-border-radius: 10px;
     -ms-border-radius: 10px;
     -o-border-radius: 10px;
     border-color: transparent;
     margin-left: 210px;
}
nav{
    
    margin-left: -30px;
    height: 50px;   
    position: relative;
    top:-150px;
    margin-top: -100px;
}
nav ul{
    display: flex;
    justify-content: center;
}
 nav ul li{
    display: inline-block;
    padding: 0px 20px;
    
    list-style: none;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-top: 20px;
    font-weight: bolder;
    
}




